.navbar-container{
   padding: 26px 40px;
   display: flex;
   justify-content: space-between;
   background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    width: 213px;
    display: flex;
    gap: 24px;
  }
li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
li a{
    font-size: 18px;
    color:#000000;
    display: block;
    text-align: center;
    text-decoration: none;
}

li a.active {
  border-bottom: 2px solid black;
}
  