.sidebar-container{
    display: block;
    width: 30%;
    background-color: #D9D9D9;
    padding: 25px;

}
.sidebar-container h1{
    font-size: 24px!important;
    margin-bottom: 25px !important;
}

.sidebar-item-container{
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    text-decoration: underline;
    cursor: pointer;
    line-height:33px;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    .sidebar-container {
        width: 50% !important;
    }
  }

  @media only screen and (max-width: 850px) {
    .sidebar-container {
        width: 100% !important;
    }
  }